# Configuration Email - GMAIL (Recommandé pour débuter)
EMAIL_USER=votre.email@gmail.com
EMAIL_PASSWORD=votre_mot_de_passe_application_gmail
ADMIN_EMAIL=votre.email@gmail.com

# Alternative : Configuration SMTP personnalisée
# SMTP_HOST=mail.votre-domaine.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=contact@votre-domaine.com
# SMTP_PASSWORD=votre_mot_de_passe

# Protection par mot de passe pour l'admin
NEXT_PUBLIC_ADMIN_PASSWORD=1234

# Configuration Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=votre_secret_aleatoire

